.footer__container {
    position: relative;
    max-width: 1808px;
    width: 100%;
    min-height: 476px;
    height: 100%;
    background-image: url(/img/Фон-подвал.png);
    background-size: cover; /* Масштабирование изображения, чтобы оно покрывало весь контейнер */
    background-position: center; /* Расположение изображения по центру контейнера */
    background-repeat: no-repeat; /* Запрет на повторение фонового изображения */
}

.footer__container::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 49%;
    max-width: 619px;
    width: 100%;
    min-height: 427px;
    background-image: url(/img/Фура-2-в-подвал.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: translate(38%, -50%);
    z-index: 1;
}

.footer__container::before {
    content: "";
    position: absolute;
    top: 73%;
    left: 89%;
    max-width: 122px;
    width: 100%;
    min-height: 50px;
    background-image: url(/img/LOGO_ALEX_BARD_VECTOR.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transform: translate(25%, -65%);
    z-index: 1;
}

.footer__list-items {
    display: flex;
    flex-direction: column;
    /*margin-right: 20px;*/
}

.footer__link {
    color: #353b41;
}

.footer-text {
    margin-bottom: 13px;
}

.footer__number {
    margin-bottom: 10px;
}

.item-1 {
    margin-bottom: 8px;
}

.client-text {
    margin-bottom: 10px;
}

.electronic-text {
    margin-bottom: 24px;
}

.rules-text {
    margin-bottom: 29px;
}

.log-item {
    margin-bottom: 24px;
}

.text-terminals {
    margin-bottom: 42px;
}

.link-text {
    font-weight: 400;
    font-size: 18px;
}

.link-number {
    font-weight: 700;
    font-size: 16px;
}

.list-info {
    max-width: 188px;
}

.footer__content {
    display: flex;
    justify-content: flex-start;
    max-width: 1095px;
    padding-top: 143px;
    padding-left: 50px;
    margin-bottom: 28px;
}

.list-one {
    margin-right: 101px;
}

.list-two {
    margin-right: 90px;
}

.list-three {
    margin-right: 77px;
}

.footer__strong {
    font-weight: 700;
    font-size: 20px;
    color: #353b41;
}

/*нижняя часть*/

.footer__TG, .footer__VK, .footer__RUT, .footer__img-24 {
    max-width: 43px;
    width: 100%;
    min-height: 43px;
}

.footer__items-lower .footer__item-basement:last-child {
    margin-right: 0; /* Убираем отступ справа */
}

.footer__items-lower {
    align-items: center;
    padding: 7px 15px 6px 33px;
    border: none;
    border-radius: 25px;
    background-color: #0d4cf3;
}

.footer-social-rub {
    margin-right: 57px;
}

.footer-social {
    margin-right: 12px;
}

.footer-24 {
    margin-right: 410px;
}

.footer-item-24 {
    margin-right: 25px;
}

.footer-item-tel {
    margin-right: 110px;
}

.footer-item-mail {
    margin-right: 61px;
}

.basement {
    color: #ffffff;
    font-weight: 500;
    font-size: 22.4px;
    font-style: normal;
}

.footer__btn-two {
    padding: 8px 36px 8px 32px;
    border: none;
    background-color: #ffffff;
    color: #0d4cf3;
    cursor: pointer;
}

.basement-btn {
    margin-right: 38px;
    padding: 8px 25px;
    border: 1px solid #ffffff;
    background-color: #0d4cf3;
    color: #ffffff;
    cursor: pointer;
}

.footer__btn {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    border-radius: 12px;
}

.footer__lower {
    margin: 15px 26px 15px 24px;
}

.footer__img-24 {
    max-width: 44px;
    min-height: 44px;
}

.footer {
    margin-bottom: 20px;
}

/*Авторское право*/

.affiliation__container {
    max-width: 1808px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.affiliation__text {
    color: #6d6f76;
    text-align: center;
    font-size: 14px;
}

.text-author {
    padding-bottom: 23px;
}