/*Стили по умолчанию для ГЛАВНОЙ СТРАНИЦЫ*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #ffffff;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1920px;
    height: auto;
}

/*header*/

.header {
    margin-top: 56px;
    margin-bottom: 72px;
}

.header__container {
    max-width: 1808px;
    width: 100%;
    min-height: 920px;
    height: auto;
    background-image: url(/img/ПК-ГЛАВНАЯ-СТРАНИЦА-главный-блок-картинка-с-обрезом.png);
    background-size: cover; /* Масштабирование изображения, чтобы оно покрывало весь контейнер */
    background-position: center; /* Расположение изображения по центру контейнера */
    background-repeat: no-repeat; /* Запрет на повторение фонового изображения */
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 1808px; /* Максимальная ширина контейнера */
    /*margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

.header__hat {
    margin-bottom: auto;
    padding: 20px 27px 25px 27px;
    max-width: 1754px;
    width: 100%;
    justify-content: space-between;
}

.header__info {
    border: none;
    padding: 7px 30px 11px 36px;
    align-items: center;
    background-color: #0d4cf3;
    color: #ffffff;
    border-radius: 20px;
}

.header__svg-1 {
    max-width: 40px;
    min-height: 40px;
}

.info-text_1 {
    margin-right: 52px;
}

.info-text_2 {
    margin-right: 17px;
}

.header__text-link {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
}

.header__logo {
    display: none;
}

.header__btn-register {
    margin-right: 36px;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    padding: 9px 27px 9px 26px;
    border: 1px solid #ffffff;
    background-color: #0d4cf3;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
}

.header__actions {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 15px 8px 13px;
    align-items: center;
    background-color: #0d4cf3;
    border-radius: 20px;
}

.header__btn {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    padding: 8px 33px 8px 34px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #0d4cf3;
    cursor: pointer;
}

/*header__block*/

.header__block-left {
    max-width: 828px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header__img {
    margin-top: 54px;
    max-width: 589px;
    width: 100%;
    height: auto;
}

.header__title {
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 50.7px;
    color: #0d4cf3;
}

.header__subtitle {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 35.96px;
    color: #353b41;
}

/*кнопки услуг*/

.header__block-right {
    padding: 0 0 30px 0;
    max-width: 863px;
    width: 100%;
    display: flex; /* Используем Flexbox для управления элементами */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрируем элементы внутри контейнера */
}

.header__link-container {
    display: flex; /* Используем Flexbox для управления элементами */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: center; /* Центрируем элементы внутри контейнера */
    gap: 30px;
}

.header__link-services {
    padding-left: 20px;
    padding-bottom: 12px;
    display: flex; /* Используем Flexbox для содержания */
    justify-content: flex-end; /* Центрируем текст по горизонтали */
    align-items: flex-start; /* Центрируем текст по вертикали */
    flex-direction: column;
    width: 100%; /* Занимает всю доступную ширину */

    width: 412px; /* Установите ширину по своему усмотрению */
    height: 190px; /* Установите высоту по своему усмотрению */
    background-size: cover; /* Настройка изображения без повторов */
    background-position: center; /* Центрирует изображение */
    box-sizing: border-box; /* Учитываем отступы в ширину и высоту */
}

.carriers {
    max-width: 412px;
    min-height: 190px;
    background-image: url('/img/Кнопка-Перевозчикам.png');
}

.customers {
    max-width: 412px;
    min-height: 190px;
    background-image: url('/img/Кнопка-Заказчикам.png');
}

.terminals {
    max-width: 412px;
    min-height: 190px;
    background-image: url('/img/Кнопка-Терминалам.png');
}

.electronic {
    max-width: 412px;
    min-height: 190px;
    background-image: url('/img/Кнопка-Электронный-логист.png');
}

.header__content {
    gap: 97px;
    display: flex;
}

/*текст под услуги*/

.header__text-heading {
    color: #353b41; /* Цвет текста */
    font-size: 30px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    text-align: center; /* Центрируем текст */
}

.header__text-subtitle {
    color: #353b41; /* Цвет текста */
    font-size: 18px; /* Размер текста */
    font-weight: 500; /* Жирный текст */
}
