.queue__container {
    max-width: 1808px;
    width: 100%;
    min-height: 555px;
    height: auto;
    background-image: url(/img/Фон-Электронная-очередь-с-плашками.png);
    background-size: cover; /* Масштабирование изображения, чтобы оно покрывало весь контейнер */
    background-position: center; /* Расположение изображения по центру контейнера */
    background-repeat: no-repeat; /* Запрет на повторение фонового изображения */
}

.queue__title {
    max-width: 700px;
    padding-top: 53px;
    margin: 0 0 0 115px;
}

.queue__single-color {
    font-weight: 700; /* Задаем жирный текст */
    font-size: 50.7px; /* Убедитесь, что размер текста соответствует родительскому */
    color: #0d4cf3; /* Цвет для слова СКАЧАЙТЕ */
}

.queue__gradient-text {
    font-weight: 700; /* Задаем жирный текст */
    font-size: 50.7px; /* Убедитесь, что размер текста соответствует родительскому */
    background: linear-gradient(to right, #f67109, #0d4cf3); /* Градиент от #0d4cf3 к #f67109 */
    -webkit-background-clip: text; /* Клипирование фона по форме текста */
    color: transparent; /* Делаем текст прозрачным */
}

.queue__items-block {
    margin-top: 120px;
    padding-left: 115px;
    max-width: 800px;
    flex-direction: column;
}

.queue__text {
    font-weight: 700;
    font-size: 22px;
}

.queue__item2 {
    margin-top: 97px;
    max-width: 291px;
    margin-left: 93px;
    width: 100%;
    border: none;
    padding: 10px 12px;
    background-color: #0d4cf3;
    border-radius: 20px;
}

.queue__btn-register {
    max-width: 289px;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    padding: 10px 40px;
    border: 1px solid #ffffff;
    background-color: #0d4cf3;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
}

.queue {
    margin-bottom: 71px;
}
