h1 {
    margin: 0;
}

.tariff__container {
    position: relative;
    max-width: 1808px;
    width: 100%;
    min-height: 704px;
    height: auto;
    background-image: url(/img-4/Тарифы-НИЖНИЙ-ФОН-1.png);
    background-size: cover; /* Масштабирование изображения, чтобы оно покрывало весь контейнер */
    background-position: center; /* Расположение изображения по центру контейнера */
    background-repeat: no-repeat; /* Запрет на повторение фонового изображения */
    z-index: 1;
}

.tariff__content-block {
    position: absolute;
    top: 57px;
    left: 52px;
    max-width: 1703px;
    width: 100%;
    min-height: 594px;
    height: auto;
    background-image: url(/img-4/Тарифы-ВЕРХНИЙ-ФОН-2.png);
    background-size: cover; /* Масштабирование изображения, чтобы оно покрывало весь контейнер */
    background-position: center; /* Расположение изображения по центру контейнера */
    background-repeat: no-repeat; /* Запрет на повторение фонового изображения */
    z-index: 2;
}

.tariff__line {
    max-width: 380px;
    width: 100%;
    height: 2px;
    background-color: #0d4cf3;
    margin-bottom: 20px;
}

.tariff__title {
    color: #0d4cf3;
    font-weight: 700;
    font-size: 50.7px;
}

.tariff__block-title {
    flex-direction: column;
    align-items: center;
    transform: translate(3px, 55px);
}

.tariff__content {
    flex-direction: column;
}

.tariff__white-block {
    max-width: 1653px;
    width: 100%;
    min-height: 432px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    margin: 135px 26px 26px 26px;
}

.tariff__list {
    gap: 30px;
    justify-content: flex-end;
    padding: 29px 69px;
}

.tariff__link-1,
.tariff__link-2 {
    color: #353b41;
    font-weight: 700;
    font-size: 21.7px;
}

.tariff__item-1 {
    padding: 13px 34px 10px 43px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #f67109;
}

.tariff__item-2 {
    padding: 15px 34px 12px 35px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #f67109;
}

/**/

.tariff__text-start {
    font-weight: 700;
    font-size: 25px;
    color: #0d4cf3;
}

.tariff__line-start {
    max-width: 518px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0d4cf3, #f67109);
}

.tariff__line-recommended {
    max-width: 386px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0d4cf3, #f67109);
    margin-right: 22px;
}

.tariff__line-premium {
    max-width: 467px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0d4cf3, #f67109);
    margin-right: 22px;
}

.tariff__line-start-orange,
.tariff__line-recommended-orange,
.tariff__line-premium-orange {
    max-width: 355px;
    width: 100%;
    height: 2px;
    background: #f67109;
}

.tariff__line-recommended-orange {
    margin-right: 20px;
}

.tariff__line-start-blue,
.tariff__line-recommended-blue,
.tariff__line-premium-blue {
    max-width: 200px;
    width: 100%;
    height: 2px;
    background: #f67109;
}

.tariff__number,
.tariff__number-2 {
    font-weight: 700;
    font-size: 25px;
}

.tariff__list-start {
    margin-top: 7px;
    padding-left: 52px;
    align-items: center;
    margin-bottom: 53px;
}

.tariff__list-recommended {
    padding-left: 52px;
    align-items: center;
    margin-bottom: 56px;
}

.tariff__list-premium {
    padding-left: 52px;
    align-items: center;
}

.tariff__item-premium-2 {
    margin-right: 14px;
}

.start-1,
.recommended-1 {
    margin-right: 16px;
}

.start-2 {
    margin-right: 27px;
}

.start-3 {
    margin-right: 25px;
}

.start-4 {
    margin-right: 22px;
}

.start-5,
.recommended-5 {
    margin-right: 18px;
}

.recommended-3 {
    margin-right: 20px;
}

.premium-3 {
    margin-right: 21px;
}

.premium-4 {
    margin-right: 21px;
}

.premium-4 {
    margin-right: 19px;
}

.recommended-3 {
    margin-right: 21px;
}

.tariff {
    margin-bottom: 71px;
}





