/*Стили по умолчанию для ГЛАВНОЙ СТРАНИЦЫ*/

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #ffffff;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1920px;
    height: auto;
}

/*header*/

.header {
    margin-top: -8px;
    margin-bottom: 56px;
}

.header__container {
    position: relative;
    max-width: 1808px;
    width: 100%;
    min-height: 1050px;
    height: auto;
    background-image: url(/img-2/Фон-перевозчикам.png);
    background-size: contain; /* Масштабирование изображения, чтобы оно покрывало весь контейнер */
    background-position: center; /* Расположение изображения по центру контейнера */
    background-repeat: no-repeat; /* Запрет на повторение фонового изображения */
}

.header__container::after {
    content: ""; /* Создаем пустой контент для псевдоэлемента */
    position: absolute; /* Позиционирование относительно родителя */
    top: 105%; /* Позиция сверху - центруем по вертикали */
    right: 38%; /* Позиция слева - центруем по горизонтали */
    max-width: 1808px;
    width: 100%; /* Ширина наложенного изображения */
    height: 83px; /* Высота наложенного изображения */
    background-image: url(/img-2/ПОДЛОЖКА-ФОН.png); /* Изображение, которое будет наложено */
    background-size: contain; /* Масштабируем наложенное изображение */
    background-position: left; /* Центрируем наложенное изображение */
    background-repeat: no-repeat; /* Запрет на повторение наложенного изображения */
    transform: translate(38%, -50%); /* Центрируем изображение по осям X и Y */
    z-index: 1; /* Убедитесь, что наложенное изображение выше фонового */
}

.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 1808px; /* Максимальная ширина контейнера */
    /*margin: 0 auto; /* Центрирование контейнера по горизонтали */
}

.header__hat {
    margin-bottom: auto;
    padding: 25px 27px 25px 27px;
    margin-top: 65px;
    max-width: 1754px;
    width: 100%;
    justify-content: space-between;
}

.header__info {
    border: none;
    padding: 7px 30px 11px 36px;
    align-items: center;
    background-color: #0d4cf3;
    color: #ffffff;
    border-radius: 25px;
}

.header__svg-1 {
    max-width: 40px;
    min-height: 40px;
}

.info-text_1 {
    margin-right: 52px;
}

.info-text_2 {
    margin-right: 17px;
}

.header__text-link {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
}

.header__logo {
    display: none;
}

.header__btn-register {
    margin-right: 36px;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    padding: 9px 27px 9px 26px;
    border: 1px solid #ffffff;
    background-color: #0d4cf3;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
}

.header__actions {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 15px 8px 13px;
    align-items: center;
    background-color: #0d4cf3;
    border-radius: 20px;
}

.header__btn {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    padding: 8px 33px 8px 34px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #0d4cf3;
    cursor: pointer;
}

/*новые*/
.header__callback-title {
    margin: 0;
    font-weight: 700;
    font-size: 50.7px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #f67109 0%, #0d4cf3 60%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #fff;
}

.header__callback-title::selection {
    color: #fff;
    background-color: #0d4cf3;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #000;
}

.header__btn-1 {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    padding: 10px 120px 10px 117px;
    max-width: 436px;
    min-height: 63px;
    background-color: #0d4cf3;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.header__btn-2 {
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    max-width: 436px;
    min-height: 63px;
    padding: 10px 51px;
    background-color: #0d4cf3;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.header__list-buttom {
    padding-bottom: 35px;
    margin-top: 51px;
    gap: 53px;
}

.header__parent {
   display: block;
   margin: 0 auto;
}

.header__parent,
.header__callback-block {
    display: block;
    margin: 0 auto;
}

.header__gradient-line {
    display: block;
    margin: 0 auto;
    max-width: 924px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #f67109, #0d4cf3);
}

